.candle {
  opacity: 0;
  animation: fadeIn 0.5s forwards;
}

.final-candle {
  animation: fadeInGrow 2s forwards;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fadeInGrow {
  0% { opacity: 0; height: 0; }
  100% { opacity: 1; }
}

.final-candle.up {
  animation: fadeIn 0.5s ease-in-out, fadeInGrowUp 1s ease-in-out forwards;
}

.final-candle.down {
  animation: fadeIn 0.5s ease-in-out, fadeInGrowDown 1s ease-in-out forwards;
}


.typewriter {
  opacity: 0;
  animation: typewriter 0.5s steps(10) forwards;
}

@keyframes typewriter {
  0% { opacity: 0; width: 0; }
  100% { opacity: 1; width: 100%; }
}

@keyframes fadeInGrowUp {
  0% { opacity: 0; height: 0; transform: scaleY(0); transform-origin: bottom; }
  100% { opacity: 1; transform: scaleY(1); }
}

@keyframes fadeInGrowDown {
  0% { opacity: 0; height: 0; transform: scaleY(0); transform-origin: top; }
  100% { opacity: 1; transform: scaleY(1); }
}

.final-candle.up {
  animation: fadeIn 0.5s ease-in-out, fadeInGrowUp 1s ease-in-out forwards;
}

.final-candle.down {
  animation: fadeIn 0.5s ease-in-out, fadeInGrowDown 1s ease-in-out forwards;
}
