.deploy-token {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  background-color: #e1bee7;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 500px;
  margin: 0 auto;

  h1,
  h2 {
    font-size: 1.5rem;
    font-weight: 500;
    color: #311b92;
    margin-bottom: 0.5rem;
  }

  h2 {
    font-size: 1.2rem;
    margin-top: 1rem;
  }

  .input-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 0.5rem;

    label {
      font-size: 1rem;
      font-weight: 500;
      color: #4a148c;
      margin-bottom: 0.25rem;
    }

    input[type='text'] {
      font-size: 1rem;
      padding: 0.5rem;
      border: 1px solid #9e9e9e;
      border-radius: 5px;
      width: 100%;
      box-sizing: border-box;
      background-color: #f3e5f5;
    }
  }

  .distribution {
    flex-direction: row;
    justify-content: space-between;

    label {
      margin-right: 0.5rem;
    }
  }

  button {
    font-size: 1rem;
    font-weight: 500;
    padding: 0.5rem 1rem;
    background-color: #7b1fa2;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    margin-top: 0.5rem;

    &:hover {
      background-color: #9c27b0;
    }

    &:disabled {
      background-color: #9e9e9e;
      cursor: not-allowed;
    }
  }

  .submit-button {
    margin-top: 1rem;
  }
}