.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.navbar-links {
  display: flex;
  gap: 1rem;
}

.nav-link {
  color: #000000;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}



.account-selector-container {
display: flex;
align-items: center;
margin-left: auto;
}

