.greendot {
  display: inline-block;
  border-radius: 50%;
  width: 14px;
  height: 14px;
  background-color: #00ff00;
  margin-right: 8px;
}

.syncing-indicator {
  display: inline-block;
  border-radius: 50%;
  width: 14px;
  height: 14px;
  background-color: #ff0000;
  animation: syncing-animation 2s infinite;
  margin-right: 8px;
}

@keyframes syncing-animation {
  0%, 100% {
    background-color: #ff0000;
  }
  25% {
    background-color: #ff8000;
  }
  50% {
    background-color: #ffff00;
  }
  75% {
    background-color: #00ff00;
  }
}
